<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application>
        <activity
            android:name="acquire.core.TransActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.third" />
            </intent-filter>
        </activity>
        <activity
            android:name="acquire.core.ThirdActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>

                <!-- uri: "newland://acquire/transaction" -->
                <data
                    android:host="acquire"
                    android:path="/transaction"
                    android:scheme="newland" />

                <action android:name="android.intent.action.NEWLAND.PAYMENT.URI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEWLAND.PAYMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Launch"
            android:name="acquire.core.bluetooth.BluetoothActivity" />
        <activity
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Launch"
            android:name="acquire.core.native_usb.UsbActivity" />
        <service
            android:name="acquire.core.PaymentService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEWLAND.PAYMENT.SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>