<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="acquire.app.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        tools:ignore="GoogleAppIndexingWarning"
        android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenSize"
        android:theme="@style/AppTheme">
        <activity
            android:name="acquire.app.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launch"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>